body {
  font: 100%/1.5 system-ui, sans-serif;
  max-width: 80em;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

label {
  margin-left: auto;
}

time, em {
  display: block;
}

em {
  color: gray;
  font-style: italic;
}
